{%extends 'app/base.html'%}
{%load static%}
{%block title%}Profile{%endblock title%}


{% block main-content %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3" >
            <h3>Reset Password Completed !!!</h3>
            <hr>
            <div>
                <img src="https://media.giphy.com/media/lwdArutvbQTeuBDEBZ/giphy.gif" width="200" height="200" alt="GIF Image">
            </div>
        </div>
    </div>
</div>
    

{% endblock main-content %}